* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body,.Future-Inspo {
    background-color: white;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    width: 100%;
}

header {
    align-items: center;
    background-color: white;
    display: flex;
    height: 50px; 
    justify-content: flex-start;
    left: 0;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
header img{
    height: 50px;
    left:0;
    top:0;
    width: 50px;

}
header h1 {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

header h2 {
    font-size: 10px;
    margin-bottom: 10px;
}

.scrolling-accommodation-container {
    background-color: white;
    display: flex;
    gap: 20px; 
    left: 0;
    overflow-x: auto;
    padding: 5px; 
    position: fixed;
    top: 50px; 
    width: 100%;
    z-index: 999;
}

.scrolling-accommodation-container::-webkit-scrollbar {
    display: none;
}

.item {
    flex: 0 0 auto;
    text-align: center;
    width: px;
}

.item img {
    border-radius: 10px;
    height: 50px;
    margin-bottom: 5px;
    object-fit: cover;
    width: 50px;
}

.item p {
    font-size: 10px;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 160px; 
    padding: 20px;
}

.examples {
    align-items: center;
    display: flex;
    flex-wrap: wrap; 
    gap: 5px; 
    justify-content: center;
    margin: 0 auto; 
    width: calc(100% - 40px); 
}

.examples h3 {
    font-size: 15px;
    margin-left: 20px;

}

.examples img {
    margin-bottom: 10px; 
    aspect-ratio: 1 / 1; /* Square images */
    border-radius: 15px;
    height: auto;
    object-fit: cover;
    width: 100%;
}

.examples p {
    font-size: 10px;
    margin-left: 20px;
}

footer {
    background-color: white;
    bottom: 0;
    height: 50px;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.Future-Inspo h2{
    font-size: 15px;
    margin-top: 20px;
}
.Future-Inspo h3{
    font-size: 15px;
    margin-top: 5px;
}

.Future-Inspo ul{
    font-size: 10px;
    margin-top: 5px;
}

.support h3{
    font-size: 15px;
}

.support ul{
    font-size: 10px;
    margin-top: 5px;
}

.hosting h3{
    font-size: 15px;
}

.hosting ul{
    font-size: 10px;
    margin-top: 5px;
}

.airbnb h3{
    font-size: 15px;
}

.airbnb ul{
    font-size: 10px;
    margin-top: 5px;
}


.bottombit h3{
    font-size: 15px;
}
.bottombit p{
    font-size: 15px;
}

